<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="components/pie-chart/pie-chart.css">
</head>

<body>
    <p class="pie-chart-title">The percentage of types of drugs seized.</p>
    <div class="charts-wrapper__pie-chart-container" id="pie-chart">
        
        <div class="pie-wrap" id="pie-wrap">
        </div>
        <div class="pie-chart__labels">
            <input type="radio" id="marijuana" name="values" class="marijuana-key" />
            <label for="marijuana" class="marijuana-label">Marijuana</label>

            <input type="radio" name="values" id="cocaine" class="cocaine-key" />
            <label for="cocaine" class="cocaine-label"> Cocaine</label>

            <input type="radio" name="values" id="MDMA" class="MDMA-key" />
            <label for="MDMA" class="MDMA-label"> MDMA</label>

            <input type="radio" name="values" id="heroin" class="heroin-key" />
            <label for="heroin" class="heroin-label"> Heroin</label>

            <input type="radio" name="values" id="amphetamine" class="amphetamine-key" />
            <label for="amphetamine" class="amphetamine-label"> Amphetamine</label>

            <input type="radio" name="values" id="cannabis-resin" class="cannabis-resin-key" />
            <label for="cannabis-resin" class="cannabis-resin-label"> Cannabis resin</label>
        </div>

    </div>
    <script src="components/pie-chart/pie-chart.js"></script>
</body>

</html>
