<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FAQ</title>
<link rel="stylesheet" href="components/faq/faq.css">
</head>
<body>

<div class="faq-container">
    <h2>Frequently Asked Questions</h2>
  <div class="faq-item">
    <div class="faq-question">
      <h5 class="question-title">Can I access personalized data and statistics based on my county of residence?</h5>
      <div class="arrow"></div>
    </div>
    <div class="faq-answer">
      <p>Yes, our application provides the possibility to access personalized data and statistics based on your county of residence. You can use the search function or navigate on the map to access specific information about the county you are in.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <h3 class="question-title">How are the data collected and updated in the application?</h3>
      <div class="arrow"></div>
    </div>
    <div class="faq-answer">
      <p>The data presented in our application are collected from reliable sources, such as governmental institutions, non-profit organizations, and research studies. These data are periodically updated to reflect the latest available information.</p>
    </div>
  </div>
  <div class="faq-item">
    <div class="faq-question">
      <h3 class="question-title">How can I report a discrepancy or error in the statistics data presented in the application?</h3>
      <div class="arrow"></div>
    </div>
    <div class="faq-answer">
      <p>If you notice a discrepancy or error in the statistics data presented in the application, please contact us by sending an email to rodx@gmail.com with the issue. Our team will investigate the problem and take necessary actions to correct the information.</p>
    </div>
  </div>
</div>

<script src="faq.js"></script>
</body>
</html>
