<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Carousel</title>
<link rel="stylesheet" href="components/slider/slider.css">
</head>
<body>

<div class="carousel">
  <div class="slides">
    <div class="slide">
      <img src="../../assets/pictures/iStock-1337554042-scaled.jpg" alt="Slide 2">
      <div class="caption">
        <h2> Exploring Drug Statistics Nationwide</h2>
        <p>Explore detailed statistics highlighting drug prevalence, demographics, and emerging trends nationwide</p>
      </div>
    </div>
    <div class="slide">
      <img src="../../assets/pictures/Picture1-1024x683.webp" alt="Slide 2">
      <div class="caption">
        <h2>Navigating the Drug Map: Insights</h2>
        <p>Discover the nation's substance landscape through data-driven insights and regional analysis.</p>
      </div>
    </div>
      <div class="slide">
        <img src="../../assets/pictures/03be7274-2557-4ba0-b174-c835155eea71-GettyImages-450669263.webp" alt="Slide 2">
        <div class="caption">
          <h2>Understanding Drug Trends Across Regions</h2>
          <p>Explore detailed statistics highlighting drug prevalence, demographics, and emerging trends nationwide</p>
        </div>
      </div>
      <div class="slide">
        <img src="../../assets/pictures/What-Are-the-Top-10-Most-Used-Drugs.webp" alt="Slide 2">
        <div class="caption">
          <h2>A Comprehensive Look at Our Nation's Substance Scene</h2>
          <p>Navigate through detailed maps and statistics to understand the complexities of drug use</p>
        </div>
      </div>
      <div class="slide">
        <img src="../../assets/pictures/images.jpeg" alt="Slide 2">
        <div class="caption">
          <h2>Analyzing Drug Data for Action</h2>
          <p>Analyze county-specific drug data to inform targeted interventions and community responses."</p>
        </div>
      </div>
  </div>
  <button class="control prev">&#10094;</button>
  <button class="control next">&#10095;</button>
</div>

<script src="slider.js"></script>
</body>
</html>
