.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    position: relative;
    flex: 0 0 75%;
    margin: 0 30px; 
  }
  
  .slide img {
    border-radius: 35px;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 10;
  }
  
  .control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    z-index: 1; /* Ensure captions are above the slides */
  }
  
  .caption h2 {
    margin: 0;
  }
  
  .caption p {
    margin: 10px 0;
  }
  