body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 700px 20%;
    grid-template-rows: 20% 500px 20%;
}

.carousel {
    grid-row: 2;
    grid-column: 2;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 80%; /* Adjust width of slides as needed */
    margin: 0 3%; /* Adjust margin to show partial neighbors */
  }
  
  img {
    width: 100%;
    height: auto;
    height: 100%;
    object-fit: cover;
  }
  
  .control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  