<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="components/line-chart/line-chart.css">
</head>

<body>
    <div class="charts-wrapper__line-chart">
        <div class="line-chart-container">
            <svg class="line-chart">
                <line class="axis-x" x1="20" y1="180" x2="420" y2="180"></line>
                <line class="axis-y" x1="20" y1="20" x2="20" y2="180"></line>

                <line class="grid-line" x1="20" y1="60" x2="420" y2="60"></line>
                <line class="grid-line" x1="20" y1="100" x2="420" y2="100"></line>
                <line class="grid-line" x1="20" y1="140" x2="420" y2="140"></line>
                <line class="grid-line" x1="20" y1="180" x2="420" y2="180"></line>

                <g class="labels-x"></g>

                <polyline class="polyline" points="20,180 120,100 220,140 320,60 420,120"></polyline>
                <polyline class="polyline" points="20,180 120,100 220,140 320,60 420,120"></polyline>
                <polyline class="polyline" points="20,180 120,100 220,140 320,60 420,120"></polyline>
            </svg>
        </div>

    </div>
</body>

</html>