/* body {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
} */

.cards-container {
  width: 100%;
  display: flex;
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 10px;
  border-radius: 50px;
  height: 500px;
  cursor: pointer;
  flex: 0.5;
  transition: flex 0.7s ease-in;
}

.card h3 {
  font-size: 24px;
  color: white;
  padding: 16px 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  position: absolute;
  background-color: #0d1428;
}

.card.active {
  flex: 5;
}
.card.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media only screen and (max-width: 600px) {
  .card:nth-child(n + 4) {
    display: none;
  }
}
