<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="components/expanding-cards/expanding-cards.css">
</head>
<body>
    <h2 class="mission-title" style="text-align: center; padding: 24px 0;">Our Community</h2>
    <div class="cards-container">
        <div class="card active" style="background-image: url('../../assets/pictures/dragan.jpg');">
            <h3>Youth Empowerment Against Drugs</h3>
        </div>
        <div class="card" style="background-image: url('../../assets/pictures/ANA-2.jpg');">
            <h3>Drug-Free Communities Initiative</h3>
        </div>
        <div class="card" style="background-image: url('../../assets/pictures/antidrog-3.webp');">
            <h3>Anti-Drug Advocates Network</h3>
        </div>
        <div class="card" style="background-image: url('../../assets/pictures/88_centru_antidrog_1.jpg');">
            <h3>Youth Against Substance Abuse</h3>
        </div>
        <div class="card" style="background-image: url('../../assets/pictures/2022__stud-DR-Poligon-si-ANA_BannerWeb.jpg');">
            <h3>Drug-Free Future Fellowship</h3>
        </div>
    </div>

    <script src="components/expanding-cards/expanding-cards.js"></script></body>
</html>